{% extends 'main.html'%}

{% block content %}
<script>
    let isHost = false
</script>
<div>
    <video  width="40%" height="30%" controls id="playervid" src={{vid.video}} crossorigin="anonymous">
        <track label="rus" kind="subtitles" src="" id="subtitleid">
    </video>
    <audio id="playeraud" src="" muted >
    </audio>
</div>
{% if request.user == vid.host %}
    <script>
        isHost = true
    </script>
{% endif %}
<div style="display: flex;">
    <!-- <form id="formlink">
        <input type="text" placeholder="link on anime" name="inputlink">
    </form> -->

    <button onclick="ChangeAudio()" id="CngAud">ChangeAudio</button>

    <select id="episodenumber" onchange="EpisodeChange()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>

<script>
    let roomID = "{{vid.pk}}"
    let protocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
    let url = `${protocol}://${window.location.host}/ws/socket-server/${roomID}/`
    const playerSocket = new WebSocket(url)
    const playervidjs = document.getElementById('playervid')
    const playersubjs = document.getElementById('subtitleid')
    const playeraudjs = document.getElementById('playeraud')
    // const linkonanime = document.getElementById('formlink')
    const episodenumberjs = document.getElementById('episodenumber')

    function onUserPause() {
        if (!playeraudjs.paused) playeraudjs.pause();
        playerSocket.send(JSON.stringify({ "paused": true }));
        disablePlayerListeners();
    }

    function onUserPlay() {
        if (playeraudjs.paused) playeraudjs.play().catch(e => console.log(e));
        playerSocket.send(JSON.stringify({ "paused": false }));
        disablePlayerListeners();
    }

    function enablePlayerListeners() {
        playervidjs.addEventListener('pause', onUserPause);
        playervidjs.addEventListener('play', onUserPlay);
    }

    function disablePlayerListeners() {
        playervidjs.removeEventListener('pause', onUserPause);
        playervidjs.removeEventListener('play', onUserPlay);
    }
    enablePlayerListeners();
    
    playerSocket.onmessage = function(e){
        let data = JSON.parse(e.data)

        if (!isHost && data["time"] !== undefined){
            if (Math.abs(playervidjs.currentTime - data["time"]) > 3){
                playervidjs.currentTime = data["time"]
            }
        }
        
        if (data["paused"] !== undefined){
            if (data["paused"]){
                if (!playervidjs.paused) playervidjs.pause()
                if (!playeraudjs.paused) playeraudjs.pause()
            }else{
                if (playervidjs.paused) playervidjs.play().catch(e => console.log(e))
                if (playeraudjs.paused) playeraudjs.play().catch(e => console.log(e))     
            }
            enablePlayerListeners();
        }
        if (data["episode"] !== undefined){
            var epnum = data["episode"];
            playervidjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1-${epnum}.mp4`
            playeraudjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/re-zero-s2c1AuAn-${epnum}.mp3`
            playersubjs.src= `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1sub-${epnum}.vtt`
        }
        
        
    }

    // linkonanime.addEventListener('submit', (e) => {
    //     e.preventDefault()
    //     let linkvalue = e.target.inputlink.value
    //     fetch("{% url 'videosave' vid.pk%}",{
    //         method: 'POST',
    //         headers: {
    //             'X-CSRFToken': '{{ csrf_token }}',
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({ value: linkvalue})
    //     })
    //     linkonanime.reset()
    // })
    function EpisodeChange(){
        var epnum = episodenumberjs.value;
        playerSocket.send(JSON.stringify({
            "episode":epnum
        }))
        // playervidjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1-${epnum}.mp4`
        // playeraudjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/re-zero-s2c1AuAn-${epnum}.mp3`
        // playersubjs.src= `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1sub-${epnum}.vtt`



    }
    playervidjs.addEventListener('loadeddata', () => {
        
        const videoScr = playervidjs.src
        const episode = videoScr.match(/-(\d+)\.mp4$/)[0].replace('.mp4', '')

        playeraudjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/re-zero-s2c1AuAn${episode}.mp3`
        playersubjs.src= `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1sub${episode}.vtt`
        playeraudjs.currentTime = playervidjs.currentTime
    })

    function ChangeAudio(){
        playervidjs.muted = !playervidjs.muted
        playeraudjs.muted = !playeraudjs.muted
    }

    setInterval(() =>{
        if (Math.abs(playeraudjs.currentTime - playervidjs.currentTime) > 0.3){
            playeraudjs.currentTime = playervidjs.currentTime
        }
        if (isHost && !playervidjs.paused){
            playerSocket.send(JSON.stringify({
                "time":playervidjs.currentTime
            }))

        }
    },1000)

</script>
{% endblock %}