{% extends 'main.html'%}

{% block content %}
<script>
    let isHost = false
</script>
<div>
    <video  width="40%" height="30%" controls id="playervid" src={{vid.video}}  onpause="PauseJs()" onplay="PauseJs()" crossorigin="anonymous">
        <track label="rus" kind="subtitles" src="" id="subtitleid">
    </video>
    <audio id="playeraud" src="" muted >
    </audio>
</div>
{% if request.user == vid.host %}
    <script>
        isHost = true
    </script>
{% endif %}
<div style="display: flex;">
    <form id="silka">
        <input type="text" placeholder="link on anime" name="inputsilka">
    </form>

    <button onclick="ChangeAudio()" id="CngAud">ChangeAudio</button>
</div>

<script>
    let roomID = "{{vid.pk}}"
    let protocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
    let url = `${protocol}://${window.location.host}/ws/socket-server/${roomID}/`
    const playerSocket = new WebSocket(url)
    const playervidjs = document.getElementById('playervid')
    const playersubjs = document.getElementById('subtitleid')
    const playeraudjs = document.getElementById('playeraud')
    const linkonanime = document.getElementById('silka')

    playerSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        if (!isHost && data["time"] !== undefined){
            if (Math.abs(playervidjs.currentTime - data["time"]) > 3){
                playervidjs.currentTime = data["time"]
            }
        }
        if (data["pause"] !== undefined){
            if (data["paused"]){
                playeraudjs.pause()
                playervidjs.pause()
            }else{
                playervidjs.play()
                playeraudjs.play()                   
            }
        }
        
    }

    linkonanime.addEventListener('submit', (e) => {
        e.preventDefault()
        let silkavalue = e.target.inputsilka.value
        fetch("{% url 'videosave' vid.pk%}",{
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ value: silkavalue})
        })
        linkonanime.reset()
    })

    playervidjs.addEventListener('loadeddata', () => {
        
        const videoScr = playervidjs.src
        const episode = videoScr.match(/-(\d+)\.mp4$/)[0].replace('.mp4', '')

        playeraudjs.src = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/re-zero-s2c1AuAn${episode}.mp3`
        playersubjs.src= `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1sub${episode}.vtt`
        playeraudjs.currentTime = playervidjs.currentTime
    })

    function ChangeAudio(){
        playervidjs.muted = !playervidjs.muted
        playeraudjs.muted = !playeraudjs.muted
    }
    function PauseJs(){
        playerSocket.send(JSON.stringify({
            "paused": playervidjs.paused,
            "time":playervidjs.currentTime
        }))
    }
    setInterval(() =>{
        if (Math.abs(playeraudjs.currentTime - playervidjs.currentTime) > 0.3){
            playeraudjs.currentTime = playervidjs.currentTime
        }
        if (isHost && !playervidjs.paused){
            playerSocket.send(JSON.stringify({
                "paused": false,
                "time":playervidjs.currentTime
            }))

        }
    },500)

</script>
{% endblock %}