{% extends 'main.html'%}

{% block content %}
<script>
    let isHost = false
</script>
<div>
    
    <video  width="40%" height="30%" controls id="playervid" src={{vid.video}} crossorigin="anonymous">
        <track label="rus" kind="subtitles" src="" id="subtitleid">

    </video>
    <audio id="playeraud" src="" muted>
    </audio>
    <iframe src="{{vid.video}}">

    </iframe>

</div>
{% if request.user == vid.host %}
    <script>
        isHost = true
    </script>
{% endif %}
<form>
    <input type="text" id="silka" placeholder="link on anime">
</form>

<button onclick="PauseJs()">Pause</button>
<button onclick="ChangeAudio()" id="CngAud">ChangeAudio</button>
<script>
    let roomID = "{{vid.pk}}"
    let url = `ws://${window.location.host}/ws/socket-server/${roomID}/`
    const playervidjs = document.getElementById('playervid')
    const playersubjs = document.getElementById('subtitleid')
    const playeraudjs = document.getElementById('playeraud')
    const silkananime = document.getElementById('silka')
    // const audioanime = document.getElementById('CngAud')
    silkananime.value = localStorage.getItem('silka')

    playerSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        if (!isHost){
            if (Math.abs(playervidjs.currentTime - data["time"]) > 2){
                playervidjs.currentTime = data["time"]
            }
        }

        if (data["paused"]){
            playeraudjs.pause()
            playervidjs.pause()

                    
        }else{
            if(!data["paused"]){
                playervidjs.play()
                playeraudjs.play()

                        
            }
                    
        }
        console.log('data',data)
    }

    silkananime.addEventListener('submit', () => {
        fetch("{% url 'videosave' vid.pk%}",{
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ value: silkananime.value})
        })
    })

    // audioanime.addEventListener('click', () => {
    //     const videoScr = playervidjs.src
    //     const episode = videoScr.match(/-(\d+)\.mp4$/)[0].replace('.mp4', '')

    //     const audioSrc = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/re-zero-s2c1AuAn${episode}.mp3`
    //     const subtitleSrc = `https://pub-aa9dae099bd44861843faecfb2e87b3d.r2.dev/rezero-s2c1sub${episode}.vtt`
    //     playeraudjs.src = audioSrc
    //     playersubjs.src= subtitleSrc

    // })
    // function ChangeAudio(){
    //     playervidjs.muted = !playervidjs.muted
    //     playeraudjs.muted = !playeraudjs.muted
    // }
    function PauseJs(){
        playerSocket.send(JSON.stringify({
            "paused": playervidjs.paused
        }))
    }
    setInterval(() =>{
        if (Math.abs(playeraudjs.currentTime - playervidjs.currentTime) > 0.2){
            playeraudjs.currentTime = playervidjs.currentTime
        }
        if (isHost){
            playerSocket.send(JSON.stringify({
                "time":playervidjs.currentTime
            }))

        }
    },500)

</script>
{% endblock %}